@charset "utf-8";
/* 基本レイアウト ここから↓ */
@import url(common.css);

body{
 background-color:#f3f2e9;
 color:#5f5039;
}
header, nav, #breadcrumb, #contents, footer{
 margin: 0 auto 0 auto;
 Width:840px;
}
header h1{
 Margin:0 0 26px 0;
 Padding-top: 28px;
 Text-align: center;
}
nav ul {
 margin: 0 0 20px 0;
 padding-left: 0;
 list-style-type:none;
 overflow: hidden;
}
nav ul li{
  width: 210px;
  float: left;
}
nav ul li a{
 overflow: hidden;
 display: block;
 Padding-top: 44px;
 height: 0;
}
nav ul li#nav_concept a{
 background-image: url(https://github.com/anuehjisjgaowejo/sample/blob/main/nav1.png?raw=true);
}
nav ul li#nav_plan a{
 background-image: url(https://github.com/anuehjisjgaowejo/sample/blob/main/nav2.png?raw=true);
}
 nav ul li#nav_fair a{
  background-image: url(https://github.com/anuehjisjgaowejo/sample/blob/main/nav3.png?raw=true);
}
 nav ul li#nav_contact a{
 background-image: url(https://github.com/anuehjisjgaowejo/sample/blob/main/nav4.png?raw=true);
}
  #main{
   float: left;
   Width: 570px;
}
#sub{
 float: right;
 width: 230px;
}
footer{
 padding-top: 70px;
}
#main h1{
 Margin: 0 0 30px 0;
 Padding: 35px 0 35px 65px;
 Font-size: 156.25%;
 background-image: url(https://github.com/anuehjisjgaowejo/sample/blob/main/bg_h1_head.png?raw=true), url(https://github.com/anuehjisjgaowejo/sample/blob/main/bg_h1_bottom.png?raw=true);
 background-repeat: no-repeat, no-repeat;
 Background-position: left top, left bottom;
}
#concept #nav_concept a,
#plan #nav_plan a,
#fair #nav_fair a,
#contact #nav_contact a,
nav ul li a:hover{
  background-position: 0 -45px;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
#news ul{
 list-style-type: none;
 padding-left: 0;
}
#news ul li{
 padding: 20px 0 20px 175px;
 border-bottom: 1px dotted  #6c5f45;
 color: #342300;
 text-indent: -175px;
}
/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */
.concept_box{
 overflow: hidden;
 Margin-bottom: 30px;
}
.concept_box:last-child{
 margin-bottom:0;
}

/* 「結婚式場のコンセプト」ページ ここまで↑ */


/* 「プランのご案内」ページ ここから↓ */
table thead tr th{
  background-color:#eee8cc;
}
table tbody tr:nth-child(odd){
 background-color: #ffffff;
}
/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */
.gallery_box figure{
 margin: 0 0 15px 15px;
 Width: 180px;
 float: left;
}
.gallery_box figure:first-child{
 margin-left: 0;
}
/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
input[type="text"]{
 width: 200px;
}
input[type="email"]{
 width: 300px;
}

/* 「お問い合わせ」ページ ここまで↑ */
